h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.card-body {
    font-size: 20px;
}

.card {
    padding: 5%;
    border: 1px solid rgb(255, 115, 0);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    width: fit-content;
}

.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: 0.8rem 3rem;
    border: 0.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}